<h1 routerLink="/" class="title" style="text-align: center">Ethan Xu</h1>
<h2 class="exu-title">Education</h2>
<a class="education"> <b>{{ education.school }}</b>  &emsp; &emsp; &emsp; {{ education.class }}</a>
<a class="education"> <br>{{ education.degree }}</a>
<a class="education"> <br>{{ education.grade }}</a>

<h2 class="exu-title">Work</h2>
<ul style="list-style-type:none;">
   <li *ngFor="let internship of internships" 
        class="internship" >
    <a style="text-decoration:none" href="{{ internship.url }}" class="highlight"> {{ internship.company }}  </a>
    <br>
    <a> {{ internship.description }} </a>
   </li>
</ul>

<h2 class="exu-title">Projects</h2>
<ul style="list-style-type:none;">
  <li *ngFor="let project of projects" class="project">
     <a class="highlight"> {{ project.title }} </a>
     <br>
     <a> {{project.description }} </a>
  </li>
</ul>